# Python cache
__pycache__/
*.pyc

# Django logs
*.log

# Virtual environment
backend/venv/

# Static files
backend/staticfiles/

# Next.js
frontend/.next/
frontend/node_modules/

# Environment files
.env
.env.local
